/* Színváltozók */
:root {
    --main-green: #6DBE45; /* Friss Zöld */
    --background-light: #E0F2F1;
    --background-dark: #F5F5F5;
    --text-color: #333;
    --slider-color: #6DBE45; /* Friss Zöld */
    --header-shadow: rgba(0, 0, 0, 0.1);
    --box-shadow: rgba(0, 0, 0, 0.1);
}

/* General styling */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, var(--background-light), var(--background-dark));
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

/* Header styling */
header {
    background-color: var(--main-green);
    color: white;
    width: 90%;
    padding: 20px;
    box-shadow: 0 4px 8px var(--header-shadow);
    position: fixed;
    top: 10px;
    border-radius: 15px; /* Lekerekített sarkok */
    z-index: 1000; /* Ensure it stays above other content */
}

.header-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 600;
}

/* Main content styling */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-top: 80px; /* Adjusted to account for fixed header */
}

#map-container {
    width: 90%;
    max-width: 1200px;
}

#map {
    height: 500px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px var(--box-shadow);
}

/* Slider container styling */
#slider-container {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--box-shadow);
    margin-top: 20px;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

label {
    font-size: 1.2em;
    color: var(--main-green);
    display: block;
    margin-bottom: 10px;
}

input[type="range"] {
    width: 80%;
    margin: 10px 0;
    accent-color: var(--slider-color); /* Modern módszer a range színének beállítására */
}

#range-value {
    font-size: 1.2em;
    color: var(--main-green);
}

/* Responsive design */
@media (max-width: 768px) {
    #map {
        height: 400px;
    }
}
