body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 10px;
    padding: 0;
    user-select: none; /* Lehetővé teszi a szöveg kijelölésének letiltását */

}

h1 {
    color: #333;
}

#students {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Rublika közötti távolság */
}

.student-box {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #a19d9d;
    display: inline-block;
    width: 150px;
    text-align: center;
    background-color: #f9f9f9;
    cursor: pointer; /* Mutatja, hogy az elem kattintható */
}

.present {
    background-color: #a6d190e8; /* Zöld szín */
    border-color: #6DBE45; /* Zöld szegély */
}

.absent {
    background-color: white; /* Fehér háttér */
    border-color: #a19d9d; /* Nincs szegély */
}

.toggle-status {
    width: 100px; /* Fix szélesség */
    height: 40px; /* Fix magasság */
    padding: 10px 0; /* Függőleges kitöltés */
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #2e98df;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center; /* Középre igazítás */
}

#usernameDisplay {
    position: absolute;
    top: 10px;  /* Távolság a felső peremtől */
    right: 10px;  /* Távolság a jobb oldali peremtől */
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.modal {
    display: none; /* Alapértelmezésben rejtve */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); /* Fekete háttér áttetsző */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 300px; 
    border-radius: 5px;
}

.student-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Középre helyezés */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Szélesség */
    border-radius: 10px; /* Lekerekített sarkok */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Árnyék */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_button {
    display: block; /* Gombok egymás alatt */
    margin: 10px auto; /* Középre igazítva */
    padding: 10px;
    font-size: 16px;
    background-color: #2e98df;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center; /* Középre igazítás */
}