body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 10px;
    padding: 0;
    user-select: none; 

}

h1 {
    color: #333;
}

#students {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.student-box {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #a19d9d;
    display: inline-block;
    width: 150px;
    text-align: center;
    background-color: #f9f9f9;
    cursor: pointer; 
}

.present {
    background-color: #a6d190e8; 
    border-color: #6DBE45; 
}

.present:hover { 
    border-color: #a6d190e8; 
}

.absent {
    background-color: white; 
    border-color: #a19d9d; 
}

.absent:hover {
    border-color: white; 
}

.toggle-status {
    width: 100px; 
    height: 40px; 
    padding: 10px 0; 
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #2e98df;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.toggle-status:hover, .modal_button:hover,.modal_button_student:hover {
    background-color: #2da6f7;
}

#usernameDisplay {
    position: absolute;
    top: 10px;  
    right: 10px;  
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content, .student-modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 300px; 
    border-radius: 10px;
    cursor: pointer;
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_button,.modal_button_student {
    display: block; 
    margin: 10px auto; 
    padding: 10px;
    font-size: 16px;
    background-color: #2e98df;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    text-align: center; 
    cursor: pointer;
}

.modal_button_student:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}